<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B-Baka!</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="../static/js/javascript.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="../static/img/icon_t1.png">
    <script>
{#        $(document).ready(function(){#}
{#            //Adjusts the settings_menu height#}
{#            var h = document.getElementById('section0').offsetHeight;#}
{#            console.log(h);#}
{#            $("#settings_menu").css("height", h);#}
{#            //Resize dublicate#}
{#            $(window).resize(function(){#}
{#                var j = document.getElementById('section0').offsetHeight;#}
{#                console.log(j);#}
{#                $("#settings_menu").css("height", j);#}
{#            });#}
{#        });#}
    </script>
        <script>
        // Code for changing the themes
        var colours = ["#ffb2fd", "#B2D7FF", "#4FE34F"];
        var theme_img = [".theme_img_1", ".theme_img_2", ".theme_img_3"];
        var header_img = ["url('/static/img/header_background_t1.png')",
            "url('/static/img/header_background_t2.png')",
            "url('/static/img/header_background_t3.png')"];

                $(document).ready(function(){
                    $(".bcBright").css("background-color", colours[{{ (session['theme']) }}]);
                    for(i=0; i<colours.length; i++)
                        if(i != {{ session['theme'] }}){
                            $(theme_img[i]).hide();
                        }
                        else if(i == {{ session['theme'] }}){
                            $(theme_img[i]).show();
                        }
                    $(".theme_header").css("background-image", header_img[{{ (session['theme']) }}]);
                    $(".theme_form_body").css("background-image", header_img[{{ (session['theme']) }}]);
                });
        </script>

</head>
<body class="noMargin noPadding bcWhite">
<div id="wrapper" class="noMargin noPadding">
    <header class="bc theme_header">
        <div id="h_logo" class="h_button"> <!--bcWhite !KAWAII!-->
            <img src="../static/img/notice_logo_t1.png" alt="Notice me logo" class="h_img theme_img_1">
            <img src="../static/img/notice_logo_t2.png" alt="Notice me logo" class="h_img theme_img_2">
            <img src="../static/img/notice_logo_t3.png" alt="Notice me logo" class="h_img theme_img_3">
        </div>
        <div id="h_new_note" class="h_button bcWhiteT">
            <a href="/new_note">
                <img src="../static/img/new_note_t1.png" alt="new document" class="h_img theme_img_1">
                <img src="../static/img/new_note_t2.png" alt="new document" class="h_img theme_img_2">
                <img src="../static/img/new_note_t3.png" alt="new document" class="h_img theme_img_3">
            </a>
        </div>
{#        <div id="h_newFolder" class="h_button bcWhiteT">#}
{#            <img src="../static/img/newFolder_t1.png" alt="new folder" class="h_img theme_img_1">#}
{#            <img src="../static/img/newFolder_t2.png" alt="new folder" class="h_img theme_img_2">#}
{#            <img src="../static/img/newFolder_t3.png" alt="new folder" class="h_img theme_img_3">#}
{#        </div>#}
{#        <div id="h_logOut" class="h_button bcWhiteT">#}
{#            <!-- This is a simple anchor tag that redirects the user to /logout !Potato!-->#}
{#            <a href="/logout">#}
{#                <img src="../static/img/logOut_t1.png" alt="log out" class="h_img theme_img_1">#}
{#                <img src="../static/img/logOut_t2.png" alt="log out" class="h_img theme_img_2">#}
{#                <img src="../static/img/logOut_t3.png" alt="log out" class="h_img theme_img_3">#}
{#            </a>#}
{#        </div>#}
        <div id="h_settings" class="h_button bcWhiteT">
            <img class="h_settings_img h_img theme_img_1" src="../static/img/settings_t1.png" alt="settings">
            <img class="h_settings_img h_img theme_img_2" src="../static/img/settings_t2.png" alt="settings">
            <img class="h_settings_img h_img theme_img_3" src="../static/img/settings_t3.png" alt="settings">
        </div>
    </header>
    <div id="h_shadow"></div>
    <aside class="bcBright">
        <ul class="a_folder_ul">
            <li class="a_folder_li bcWhite"></li>
        </ul>
    </aside>
    <div id="n_curtain" class="bcBright"></div>
    <section id="section0" class="bcWhite">
        <ul class="s_doc_ul">
            {% for note in notes %}
                <li class="s_doc_li bcBright">
                    <div class="s_doc_li_text">
                        <h2 class="s__text_h2" style="margin-top:0">{{ note.title }}</h2>
                        <textarea class="s__text_p" readonly="yes">{{ note.content }}</textarea>
                    </div>
                    <form action=note/{{ note.id }}/edit method="post">
                        <input type="submit" class="s_edit_note" value="Edit note">
                    </form>
                    <form action=note/{{ note.id }}/delete method="post">
                        <input type="submit" class="s_delete_note" value="Delete note">
                    </form>
                </li>
            {% else %}
                <li><em><!--You do not have any notes at this time. -->B-Baka!! Why did you delete me!?</em></li>
            {% endfor %}
        </ul>
    </section>
    <div id="settings_menu" class="bcWhiteT">
        <ul class="settings_menu_ul">
            <li id="change_theme" class="settings_menu_li bcBright settings__a">Next theme
                <form id="theme_form"  action="" method="post" class="hide">
                    <input type="text" name="identifier" value="theme">
                </form>
            </li>
            <a href="/change_password" class="settings__a">
                <li class="settings_menu_li bcBright">Swap password</li>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"class="settings__a">
                <li class="settings_menu_li bcBright"> Don't click here </li>
            </a>
            <a href="/logout" class="settings__a">
                <li class="settings_menu_li bcBright">Logout
                    <img src="../static/img/logOut_t1.png" alt="log out" class="settings__logout theme_img_1">
                    <img src="../static/img/logOut_t2.png" alt="log out" class="settings__logout theme_img_2">
                    <img src="../static/img/logOut_t3.png" alt="log out" class="settings__logout theme_img_3">
                </li>
            </a>
        </ul>
    </div>
    <!--<footer class="bcDark"></footer>-->
    <!-- This for loop displays all flashed messages in case there is more than one. -->
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>
</body>
</html>